* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

$bgcolor: rgb(254, 241, 223);
$textColor: rgb(100, 100, 100);
$headingColor: rgb(57, 57, 57);

.header {
  background-color: $bgcolor;
  margin: auto;
  padding: 5px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(250, 231, 196);
  .nav-list {
    display: flex;
    li {
      font-size: large;
      list-style: none;
      padding: 0px 10px;
    }
  }
}

body {
  margin: auto;
  padding: 0;
  .search {
    background-color: rgb(253, 248, 244);
  }
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: rgb(255, 255, 255);
  .res-card {
    background-color: $bgcolor;
    margin: 15px 7px;
    width: 250px;
    min-height: 360px;
    .image-container {
      display: flex;
      align-items: center;
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
  .res-card:hover {
    transform: scale(1.03);
    transition: 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .res-name {
    font-weight: bold;
    color: rgb(95, 92, 92);
    padding: 10px;

    h4,
    h3 {
      padding: 5px 0px;
    }
  }
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.shimmer-card {
  background-color: $bgcolor;
  margin: 15px 7px;
  width: 200px;
  height: 380px;
}

.login {
  background-color: antiquewhite;
  padding: 10px 20px;
  margin: 0px 15px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  input {
    padding: 10px;
  }
  .btn {
    padding: 10px;
  }

  .btn:hover {
    cursor: pointer;
  }
}

.dot {
  background-color: rgb(100, 100, 100);
  height: 4px;
  width: 4px;
  margin: 5px;
  border-radius: 20px;
  padding: 0px;
}

.dot-parent {
  color: $textColor;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  line-height: 20px;
}

.item-card {
  color: $textColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;

  .item-details {
    width: 80%;
  }
}

.item-image-container {
  display: flex;
  align-items: center;

  img {
    width: 150px;
    height: 120px;
    border-radius: 10px;
  }
}

// .dish-container {
//   padding: 15px;
// }
.title {
  color: $headingColor;
  font-size: large;
}

.top-bar {
  border-bottom: 15px solid #eaeaea;
  height: 1px;
  margin: 25px 0;
}
.bottom-bar {
  border-bottom: 1px solid #e5e5e5;
  height: 0.5px;
  margin: 5px 0;
}

.res-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;

  .res-details {
    width: 60%;
    border: 0.5px solid grey;
    height: 50px;
  }
}
.sla-parent {
  //border: 1px solid blue;
  display: flex;
  align-items: center;
  padding: 5px 0px;
  .dot {
    background-color: rgb(100, 100, 100);
    height: 4px;
    width: 4px;
    border-radius: 20px;
  }
}
.res-data {
  border: 0.2px solid rgb(221, 221, 221);
  border-radius: 10px;
  color: $textColor;
  display: flex;
  padding: 15px;
  max-width: 800px;
  flex-direction: column;
  gap: 5px;
  margin: 25px 0px;
  background-color: rgb(255, 252, 251);
  box-shadow: 10px 10px 5px rgb(188, 188, 188);
}
