* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

$bgcolor: rgb(254, 241, 223);

.header {
  background-color: $bgcolor;
  margin: auto;
  padding: 5px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(250, 231, 196);
  .nav-list {
    display: flex;
    li {
      font-size: large;
      list-style: none;
      padding: 0px 10px;
    }
  }
}

body {
  margin: auto;
  padding: 0;
  .search {
    background-color: rgb(253, 248, 244);
  }
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  background-color: rgb(255, 255, 255);
  .res-card {
    background-color: $bgcolor;
    margin: 15px 7px;
    width: 200px;
    .image-container {
      display: flex;
      align-items: center;
      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
      }
    }
  }
  .res-card:hover {
    transform: scale(1.03);
    transition: 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .res-name {
    font-weight: bold;
    color: rgb(100, 100, 100);
    padding: 10px;

    h4,
    h3 {
      padding: 5px 0px;
    }
  }
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.shimmer-card {
  background-color: $bgcolor;
  margin: 15px 7px;
  width: 200px;
  height: 350px;
}
